<td class="align-middle" style="width: 80px">
  <div class="border bg-danger rounded text-center small" th:if="${item.new_old == 0}">NEW</div>
  <div th:class="'border bg-' + ${item.media.media_color} + ' rounded text-center small'">[[${item.media.media_name}]]</div>
</td>
<td class="align-middle">
  [[${item.item_name}]]<br />
  <span class="small">[[${item.media_id != 0 ? "監督" : "アーティスト"}]]：[[${item.author_name}]]</span>
</td>
<td class="align-middle">
  <span class="text-warning"><i class="fas fa-coins"></i> [[${item.add_point}]]</span>
</td>
<td class="align-middle" th:if='${pName.equals("top") || pName.equals("rental")}'>
  <button type="button" class="btn btn-outline-primary w-100 disabled" th:if="${loginModel.member_id == 0}">借りる</button>
  <form th:action="@{/rental}" method="post" th:object="${rentalModel}" th:if="${loginModel.member_id != 0}">
    <input type="hidden" name="member_id" th:value="${loginModel.member_id}" />
    <input type="hidden" name="item_id" th:value="${item.item_id}" />
    <button type="button" class="btn btn-outline-warning w-100" data-toggle="modal"
     th:data-target="'#modal-warning' + ${item.item_id}" th:if="${rentalIds.contains(item.item_id)}">発送準備中</button>
    <div class="modal fade" th:id="'modal-warning' + ${item.item_id}" th:if="${rentalIds.contains(item.item_id)}">
      <div class="modal-dialog">
        <div class="modal-content bg-warning">
          <div class="modal-header">
            <h4 class="modal-title">キャンセル確認</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>【[[${item.item_name}]]】の発送をキャンセルします。<br />宜しいでしょうか？</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">閉じる</button>
            <button type="submit" class="btn btn-outline-light" name="rentalDel">キャンセルする</button>
          </div>
        </div> <!-- /.modal-content -->
      </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
    <button type="submit" class="btn btn-outline-primary w-100" name="rentalAdd" th:if="${!rentalIds.contains(item.item_id)}">借りる</button>
  </form>
</td>
<td class="align-middle" th:if='${pName.equals("stock")}'>
  <form th:action="@{/stock}" method="post" th:object="${item}" class="row">
    <input type="hidden" name="item_id" th:value="${item.item_id}" />
    <button type="submit" class="btn btn-outline-primary col-md" name="itemEdit"><i class="far fa-edit"></i>&nbsp;編集</button>
    <button type="submit" class="btn btn-outline-danger col-md disabled" name="itemDelete"><i class="far fa-trash-alt"></i>&nbsp;削除</button>
  </form>
</td>
